networks:
  mern-network:
    driver: bridge

services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "8880:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://backend:5000
    command: npm run dev
    depends_on:
      - backend
    networks:
      - mern-network

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5550:5000"
    networks:
      - mern-network
